<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
<connectionStrings>
  <add name="Oraclecnn" 
       connectionString="DATA SOURCE=localhost:1521/ XE; PERSIST SECURITY INFO=True;USER ID=agencia;PASSWORD=sistemas;"/>
</connectionStrings>
</configuration>